{% extends "base_dimci.html" %}
{% block title %} {{super()}} - Dimci - Constatação {% endblock %}
{% block content %}

<div class="container">
    <h3 align="center">Constatação</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="">
      {{ messages[0] }} !!!
    </div>
    {% endif %}
    {% endwith %}
<form action="/registrarConstatacao" method="post">
    <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Origem:</legend>
      <div class="col-sm-3">
        <div class="form-check">
          {% if origem == 'Auditoria Interna' %}
          <input class="form-check-input" type="radio" name="origem" id="gridRadios1" value="Auditoria Interna" checked>
          {% else %}
            <input class="form-check-input" type="radio" name="origem" id="gridRadios11" value="Auditoria Interna" >
          {% endif %}
            <label class="form-check-label" for="gridRadios1">
            Auditoria Interna
          </label>
        </div>
        <div class="form-check">
          {% if origem == 'Reclamação' %}
          <input class="form-check-input" type="radio" name="origem" id="gridRadios2" value="Reclamação" checked>
          {% else %}
           <input class="form-check-input" type="radio" name="origem" id="gridRadios20" value="Reclamação">
          {% endif %}
          <label class="form-check-label" for="gridRadios2">
           Reclamação
          </label>
        </div>
        <div class="form-check">
           {% if origem == 'Pesquisa de Satisfação' %}
          <input class="form-check-input" type="radio" name="origem" id="gridRadios3" value="Pesquisa de Satisfação" checked >
           {% else %}
            <input class="form-check-input" type="radio" name="origem" id="gridRadios30" value="Pesquisa de Satisfação" >
           {% endif %}
            <label class="form-check-label" for="gridRadios3">
            Pesquisa de Satisfação
          </label>
        </div>
      </div>
        <div class="col-sm-3">
        <div class="form-check">
             {% if origem == 'Peer Review' %}
          <input class="form-check-input" type="radio" name="origem" id="gridRadios4" value="Peer Review" checked>
            {% else %}
             <input class="form-check-input" type="radio" name="origem" id="gridRadios40" value="Peer Review" >
           {% endif %}
          <label class="form-check-label" for="gridRadios1">
            Peer Review
          </label>
        </div>
        <div class="form-check">
            {% if origem == 'NC Eventual' %}
          <input class="form-check-input" type="radio" name="origem" id="gridRadios5" value="NC Eventual" checked>
            {% else %}
            <input class="form-check-input" type="radio" name="origem" id="gridRadios50" value="NC Eventual">
            {% endif %}
          <label class="form-check-label" for="gridRadios2">
           NC Eventual
          </label>
        </div>
        <div class="form-check">
            {% if origem == 'Outros' %}
          <input class="form-check-input" type="radio" name="origem" id="gridRadios6" value="Outros" checked >
            {% else %}
            <input class="form-check-input" type="radio" name="origem" id="gridRadios66" value="Outros" >
             {% endif %}
            <label class="form-check-label" for="gridRadios3">
            Outros
          </label>
        </div>
      </div>
    </div>
  </fieldset>

    <div class="form-row" id = "constatacao">
      <div class="col-sm-2">
        <label for="constatacao">Constatação:</label>
      </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" name = 'nconstatacao'id="nconstatacao" placeholder="N° da Constatacao" value="{{nconstatacao}}" required>
        </div>
        <div align="center" class="col-sm-3">
            <div class="form-check form-check-inline ">
                 {% if tipo == 'NC' %}
                <input class="form-check-input" type="radio" name="tipo" id="inlineRadio1" value="NC" checked>
                {% else %}
                <input class="form-check-input" type="radio" name="tipo" id="inlineRadio11" value="NC" >
                {% endif %}
                <label class="form-check-label" for="inlineRadio1">NC</label>
            </div>
            <div class="form-check form-check-inline ">
                {% if tipo == 'NCP' %}
                <input class="form-check-input" type="radio" name="tipo" id="inlineRadio2" value="NCP" checked>
                {% else %}
                <input class="form-check-input" type="radio" name="tipo" id="inlineRadio22" value="NCP">
                {% endif %}
                <label class="form-check-label" for="inlineRadio2">NCP</label>
            </div>
            <div class="form-check form-check-inline ">
                {% if tipo == 'OBS' %}
                <input class="form-check-input" type="radio" name="tipo" id="inlineRadio3" value="OBS" checked >
                {% else %}
                <input class="form-check-input" type="radio" name="tipo" id="inlineRadio30" value="OBS"  >
                {% endif %}
                <label class="form-check-label" for="inlineRadio3">OBS</label>
            </div>
        </div>

            <div class="form-group col-md-2">
                <input type="text" name = 'inputUO' class="form-control" id="inputUO" value="{{inputUO}}" required>
            </div>

        <div class="col-sm-3">
            <input type="date" format="dd/mm/yyyy" name = 'data_const' class="form-control" id="data_const" value  = '{{data_const}}' required>
        </div>

    </div>

    <div class="form-group row">
    <label for="grandeza" class="col-sm-2 col-form-label">Grandeza</label>
    <div class="col-sm-4">
        <input type="text" name = 'grandeza' class="form-control" id="grandeza" value="{{grandeza}}" required>
    </div>
    </div>
    <div class="form-group row">
    <label for="laboratorio" class="col-sm-2 col-form-label">Laboratório</label>
    <div class="col-sm-4">
       <input type="text" name = 'laboratorio' class="form-control" id="laboratorio" value="{{laboratorio}}" required>
    </div>
        <div class="col-sm-4">
            <input type="text" name = 'responsavel' class="form-control" id="responsavel" value="{{responsavel}}" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="documento_origem" class="col-sm-2 col-form-label">Identificação:</label>
        <div class="col-sm-4">
            <input type="text" name = 'documento_origem' class="form-control" id="documento_origem" value="{{documento_origem}}" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="descricao_da_const" class="col-sm-2 col-form-label">Descrição:</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="descricao_da_const" id="descricao_da_const" rows="3">{{descricao_da_const}}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="item_do_enquadramento" class="col-sm-2 col-form-label">Item:</label>
        <div class="col-sm-4">
            <input type="text" name = 'item_do_enquadramento' class="form-control" id="item_do_enquadramento" value="{{item_do_enquadramento}}" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="correcao_da_const" class="col-sm-2 col-form-label">Correção Proposta:</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="correcao_da_const" id="correcao_da_const" rows="3">{{correcao_da_const}}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="causa_raiz_da_const" class="col-sm-2 col-form-label">Causa Raiz:</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="causa_raiz_da_const" id="causa_raiz_da_const" rows="3">{{causa_raiz_da_const}}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="acao_corretiva_da_const" class="col-sm-2 col-form-label">Ação Corretica:</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="acao_corretiva_da_const" id="acao_corretiva_da_const" rows="3">{{acao_corretiva_da_const}}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="prazo_para_implementacao" class="col-sm-2 col-form-label">Prazo para Implementação:</label>
        <div class="col-sm-4">
            <input type="date" format="dd/mm/yyyy" name = 'prazo_para_implementacao' class="form-control" id="prazo_para_implementacao" value  = '{{prazo_para_implementacao}}'required>
        </div>
    </div>
    <div class="form-group row">
        <label for="comentario" class="col-sm-2 col-form-label">Comentários:</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="comentario" id="comentario" rows="3">{{comentario}}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Implementado:</label>
        <div class="col-sm-3">
        <div class="form-check form-check-inline ">
            {% if implementado == 'Implementado' %}
                <input class="form-check-input" type="radio" name="implementado" id="inlineRadio4" value="Implementado" checked>
            {% else %}
                <input class="form-check-input" type="radio" name="implementado" id="inlineRadio40" value="Implementado" >
             {% endif %}
            <label class="form-check-label" for="inlineRadio1">Implementado</label>
        </div>
        <div class="form-check form-check-inline ">
            {% if implementado == 'Não Implementado' %}
                <input class="form-check-input" type="radio" name="implementado" id="inlineRadio5" value="Não implementado" checked>
            {% else %}
            <input class="form-check-input" type="radio" name="implementado" id="inlineRadio50" value="Não implementado">
            {% endif %}
            <label class="form-check-label" for="inlineRadio2">Não implementado</label>
        </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="data_da_implementacao" class="col-sm-2 col-form-label">Data da Implementação:</label>
       <div class="col-sm-4">
            <input type="date" format="dd/mm/yyyy" name = 'data_da_implementacao' class="form-control" id="data_da_implementacao"  value="{{data_da_implementacao}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="repactuacao1" class="col-sm-2 col-form-label">Repactuação I:</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="repactuacao1" id="repactuacao1" rows="3">{{repactuacao1}}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="repactuacao2" class="col-sm-2 col-form-label">Repactuação II:</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="repactuacao2" id="repactuacao2" rows="3">{{repactuacao2}}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="repactuacao3" class="col-sm-2 col-form-label">Repactuação III:</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="repactuacao3" id="repactuacao3" rows="3">{{repactuacao3}}</textarea>
        </div>
    </div>

    <div class="form-group row">
    <label for="planilha" class="col-sm-2 col-form-label">Planilha</label>
    <div class="col-sm-4">
      <select name = 'planilha'  class="custom-select mr-sm-2" id="planilha" required>
        <option  selected>{{planilha}}</option>
        {% for p in planilhas %}
        <option value='{{p}}'>{{p}}</option>
        {% endfor %}
      </select>
    </div>
    </div>
    <div class="form-group row">
    <div class="form-group row d-flex justify-content-center col-sm-4">
        <button type="submit" name="action" value="editar" class="btn btn-dark ">Editar Constatação</button>
    </div>
    <div class="form-group row d-flex justify-content-center col-sm-4">
        <button type="submit" name="action" value="deletar" class="btn btn-dark ">Deletar Constatação</button>
    </div>
    <div class="form-group row d-flex justify-content-center col-sm-4">
        <button type="submit" name="action" value="preencher" class="btn btn-dark ">Preencher Formulário</button>
    </div>

    </div>
</form>
</div>

{% endblock %}